# Core vision & ML
opencv-python>=4.5.0
torch==1.13.1 
numpy>=1.24.0
pyyaml>=6.0.0
gitpython>=3.1.30

# Camera control (CircuitPython on Raspberry Pi)
adafruit-blinka>=7.0.0
adafruit-circuitpython-pca9685==3.4.18
